extends ../../layouts/main-layout/main-layout.pug
include ../../components/links/link-mixin.pug

block content
    .error-message
        .error-message__code=errorMessageCode
        .error-message__text=errorMessageText
        |  !{link}
        