extends ../../layouts/main-layout/main-layout.pug
include ../../components/links/link-mixin.pug

block content
    script(type="module" src='~/src/views/404/404.ts')
    .error-message
        .error-message__code 500
        .error-message__text Мы уже фиксим
        +link-mixin('/', 'Назад к чатам ')
        