@import '../../../../../assets/styles/colors';

.main-chat-bottom__block {
  display: flex;
  align-items: center;
  margin-right: 1.25rem;
  margin-left: 1.25rem;
  width: 100%;
  border-top: 1px solid $color-border;
}

.main-chat-bottom__items {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.main-chat-bottom__message-panel {
  width: 95%;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  background: $color-bg-avatar;
  display: flex;
  align-items: center;
  border-radius: 1.875rem;

  &_text {
    margin-left: 1rem;
  }
  input {
    border: 0;
    background: $color-bg-avatar;
    &:focus {
      outline: none;
    }
  }

  .invalid {
    color: $color-red;
  }
}
