@import '../../../../assets/styles/colors';
@import './user-chats/user-chats';

.sidebar {
  max-width: 19.375rem;
  width: 100%;
  background: $color-bg-sidebar;
  display: flex;
  flex-direction: column;

  &__header {
    height: 6.375rem;
    display: flex;
    flex-direction: column;
    border-bottom: 0.0625rem $color-border solid;
  }

  &__header-profile {
    height: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    &-block {
      display: flex;
      max-width: 4.375rem;
      max-height: 3.375rem;
      justify-content: space-around;
      margin-right: 0.5rem;

      a {
        text-decoration: none;
        color: $color-dark-gray;
      }

      &-text,
      &-arrow {
        font-weight: 500;
        font-size: 0.75rem;
        line-height: 0.75rem;
        color: $color-dark-gray;
        margin-right: 0.2rem;
      }

      &-arrow {
        display: inline-block;
        border: 0.0625rem solid $color-dark-gray;
        border-width: 0 0.0625rem 0.0625rem 0;
        width: 0.3rem;
        height: 0.3rem;
        margin-top: 0.25rem;
        transform: rotate(-45deg);
      }
    }
  }
  &__header-search {
    display: flex;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    &-block {
      max-width: 18.125rem;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      max-height: 2rem;
      height: 100%;
      background: $color-bg-avatar;
      border-radius: 0.3125rem;
      font-weight: 500;
      font-size: 0.75rem;
      line-height: 0.75rem;
      color: $color-dark-gray;
    }
  }
}

.user-chats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
