@import '../../assets/styles/colors';

.input {
  width: 17.5rem;
  height: 1.875rem;
  display: flex;
  flex-direction: column;
  font-size: 0.8125rem;
  line-height: 0.8125rem;

  &__field {
    border: 0;

    // &-sign-up {
    //   border: 0;
    //   border-bottom: 0.0625rem $color-primary solid;
    //   &:focus {
    //     outline: none;
    //   }
    // }

    &-message {
      border: 0;
      &:focus {
        outline: none;
      }
    }
  }

  &__label {
    font-size: 0.5625rem;
    line-height: 0.5625rem;
    color: $color-dark-gray;
  }
}
