@import '../../assets/styles/colors';
/* stylelint-disable */
.input {
  width: 17.5rem;
  height: 1.875rem;
  display: flex;
  flex-direction: column;
  font-size: 0.8125rem;
  line-height: 0.8125rem;

  &__field {
    border: 0;

    &-message,
    &-search {
      border: 0;
      &:focus {
        outline: none;
      }
    }
  }

  &__label {
    font-size: 0.5625rem;
    line-height: 0.5625rem;
    color: $color-dark-gray;
  }
}
.invalid {
  color: $color-red;
}
