@import '../../../../../assets/styles/colors';
/* stylelint-disable */
.main-chat-header__block {
  display: flex;
  align-items: center;
  margin-right: 1.25rem;
  margin-left: 1.25rem;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid $color-border;
}
.delete-user {
  display: flex;
  width: 100%;
  align-items: flex-end;
  justify-content: flex-end;
}
.main-chat-header__items {
  display: flex;
  width: 100%;
}

.main-chat-header__user-info {
  display: flex;
  align-items: center;
  width: 100%;
}

.main-chat-header__icon {
  width: 2.125rem;
  height: 2.125rem;
  background: $color-bg-avatar;
  border-radius: 50%;
}

.main-chat-header__name {
  margin-left: 0.5rem;
  font-weight: 600;
  font-size: 0.8125rem;
  line-height: 0.8125rem;
}
