.main-chat-header__items
    .main-chat-header__user-info
        .main-chat-header__icon
        .main-chat-header__name=username
    .main-chat-header__user-action-btn
        .main-chat-header__user-action-dot
        .main-chat-header__user-action-dot
        .main-chat-header__user-action-dot
