div.main-chat-header__block
    .main-chat-header__items
        .main-chat-header__user-info
            .main-chat-header__icon
                img(src=`${img}` alt="avatar" class="avatar-img")
            .main-chat-header__name=username
            .delete-user
                | !{deleteLink}
                | !{deleteUserToChat}
