@import '../../../../../assets/styles/colors';

.main-chat-dialogs__block {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 0.75rem;
  color: $color-dark-gray;
}
