.form-button {
  font-size: 0.8125rem;
  line-height: 0.8125rem;
  color: #ffffff;
  max-width: 17.5rem;
  width: 100%;
  height: 2.3125rem;
  background: #3369f3;
  border-radius: 0.5rem;
  border: 1px solid #3369f3;
}
