@import '../../assets/styles/colors';

.link {
  font-size: 0.6875rem;
  line-height: 0.6875rem;

  a {
    text-decoration: none;
    color: $color-primary;
  }
}

.profile__link {
  font-size: 0.8125rem;
  &_exit {
    font-size: 0.8125rem;
    a {
      text-decoration: none;
      color: $color-red;
    }
  }
}
