@import '../../assets/styles/colors';

.link {
  font-size: 0.6875rem;
  line-height: 0.6875rem;

  a {
    text-decoration: none;
    color: $color-primary;
  }
}

.exit {
  a {
    text-decoration: none;
    color: $color-red;
  }
}
