script(type='module' src='~/src/layouts/profile-layout/profile-layout.ts')
.profile-layout
    section.profile-layout__sidebar
        a(href='/messanger').profile-layout__sidebar-btn=Назад

    section.profile-layout__main
        block profile-card
