script(type='module' src='~/src/layouts/profile-layout/profile-layout.ts')
.profile-layout
    section.profile-layout__sidebar
        a(href='/').profile-layout__sidebar-btn  <img src = "~/src/assets/icons/send-icon.svg" alt="send-icon"/> </a>

    section.profile-layout__main
        block profile-card
