script(type='module' src='~/src/layouts/profile-layout/profile-layout.ts')
.profile-layout
    section.profile-layout__sidebar
        a(href='/').profile-layout__sidebar-btn  
            p Назад </a>

    section.profile-layout__main
        block profile-card
