@import '../../../assets/styles/colors';

.profile-card__field {
  max-width: 31.875rem;
  width: 100%;
  max-height: 2.0625rem;
  height: 100%;
  display: flex;
  border-bottom: 1px $color-border solid;
  align-items: center;

  &__title {
    font-weight: 500;
    font-size: 13px;
    line-height: 13px;
  }

  &__body {
    margin-left: auto;
    border: 0;
    font-weight: 500;
    font-size: 13px;
    line-height: 13px;
    color: $color-dark-gray;
  }
  input {
    border: 0;
    &:focus {
      outline: none;
    }
  }
}
.invalid {
  color: $color-red;
}
