mixin profile-input-mixin(title, body)
    script(type="module" src='~/src/components/inputs/profile-inputs/profile-input-mixin.ts')
    .profile-card__field
            .profile-card__field__title= title 
            .profile-card__field__body= body 