mixin user-chats-mixin()
    .user-chats__block
        .user-chats__container
            .user-chats__img img
            .user-chats__content
                .user-chats__content-name Temp
                .user-chats__content-message teset tsets dsfgd
            .user-chats__notify
                .user-chats__notify-time 11:11
                .user-chats__notify-new-messages 2
        