
.user-chats__block
    .user-chats__container
        .user-chats__img=id
        .user-chats__content
            .user-chats__content-name=last_message.user.first_name
            .user-chats__content-message=last_message.content
