@import '../../assets/styles/colors';

.error-message {
  width: 12.5rem;
  height: 12.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__code {
    font-size: 2.5rem;
    line-height: 2.5rem;
    color: $color-dark;
    margin-bottom: 0.3125rem;
  }

  &__text {
    font-size: 1.25rem;
    line-height: 1.25rem;
    color: $color-dark;
    margin-bottom: 4rem;
  }
}
