extends ../../layouts/main-layout/main-layout.pug

block content
    .error-message
        .error-message__code=errorMessageCode
        .error-message__text=errorMessageText
        .error-message__link
            | !{link}

