<form id="profile-avatar">
  img(src=`${img}` alt="avatar" class="avatar-img")
  .avatar-overlay
    .avatar-overlay__text
    .image-container
      <input id="avatar" type="file" name="avatar" accept="image/*">
</form> 

