.profile-layout
    section.profile-layout__sidebar
        a(href='/messanger').profile-layout__sidebar-btn
                p Назад
    section.profile-layout__main
        .profile-card
            form(class='profile-card__block' action='../../chat/chat.html')
                .profile-card__fields 
                    | !{oldPassword}
                    | !{newPassword}
                    | !{repeatPassword}
                .profile-card__actions
                    .profile-card__actions-btn
                        | !{button}

