extends ../../../layouts/profile-layout/profile-layout.pug


block profile-card
    .profile-card
        section.profile-card__user-info
            .profile-card__user-info-avatar <img src = "~/src/assets/icons/empty-avatar-icon.svg" alt="empty-avatar-icon"/>
        form(class='profile-card__block' action='../../chat/chat.html')
            .profile-card__fields 
                | !{oldPassword}
                | !{newPassword}
                | !{repeatPassword}
            .profile-card__actions
                .profile-card__actions-btn
                    | !{button}

