extends ../../../layouts/profile-layout/profile-layout.pug
include ../../../components/inputs/profile-inputs/profile-input-mixin.pug
include ../../../components/buttons/button-mixin.pug

block profile-card
    .profile-card
        section.profile-card__user-info
            .profile-card__user-info-avatar <img src = "~/src/assets/icons/empty-avatar-icon.svg" alt="empty-avatar-icon"/>


        form(class='profile-card__block' action='../../chat/chat.html')
            .profile-card__fields 
                +profile-input-mixin('Старый пароль','temp@a.ru','info', true,'','','password')
                +profile-input-mixin('Новый пароль','ivan', 'info', true,'','','password')
                +profile-input-mixin('Повтороите новый пароль','iv', 'info', true,'','','password')
            .profile-card__actions
                +button-mixin('','save-changes', 'Сохранить')
