@font-face {
  font-weight: 100;
  font-family: Inter;
  font-style: normal;
  src: url('../fonts/Inter/Inter-Thin.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-weight: 200;
  font-family: Inter;
  font-style: normal;
  src: url('../fonts/Inter/Inter-Light.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-weight: 400;
  font-family: Inter;
  font-style: normal;
  src: url('../fonts/Inter/Inter-Regular.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-weight: 500;
  font-family: Inter;
  font-style: normal;
  src: url('../fonts/Inter/Inter-Medium.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-weight: 550;
  font-family: Inter;
  font-style: normal;
  src: url('../fonts/Inter/Inter-SemiBold.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-weight: 600;
  font-family: Inter;
  font-style: normal;
  src: url('../fonts/Inter/Inter-Bold.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-weight: 700;
  font-family: Inter;
  font-style: normal;
  src: url('../fonts/Inter/Inter-ExtraBold.ttf') format('truetype');
  font-display: swap;
}
