$color-primary: #3369f3;
$color-bg-sidebar: #fbfbfb;
$color-dark: #1e1e1e;
$color-border: #eaeaea;
$color-gray: #c9c9cf;
$color-white: #ffffff;
$color-bg-avatar: #efefef;
$color-dark-gray: #999999;
$color-red: #ff0000;
